[submodule "editor"]
	path = editor
	url = git@github.com:SuperFace/kf-editor.git
[submodule "parser"]
	path = parser
	url = git@github.com:SuperFace/kf-parser.git
[submodule "render"]
	path = render
	url = git@github.com:SuperFace/kf-render.git
